<header class="navigation">
  <h1><a routerLink="/">
      <mat-icon>forest</mat-icon>Raizes Virtuais
    </a></h1>
</header>

<main>
  <div class="tabMenu">
    <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)">
    </p-tabMenu>
    <p-button *ngIf="_router.url == '/produtores'" label="Cadastrar" icon="pi pi-user-plus" iconPos="right"
      routerLink="/cadastrar"></p-button>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</main>
