.navigation {
  padding: 40px 0 64px 32px;

  a {
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
    display: flex;
    font-size: 32px;

    mat-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
      margin-right: 8px;
      color: #367D7A;
    }
  }
}

main {
  padding: 0 32px;

  .tabMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}
